// _fonts.scss

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProBook.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProBookItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProHeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
