$pink-color-light: #ffdcd3;
$pink-color-dark: #efa693;
$white-color: #ffffff;
$blue-color: #caf0ff;
$yellow-color: #ffc658;
$gray-color: #939393;
$body-title: #444950;
$filson-pro: "FilsonPro";
$abhaya-libre: "abhayaLibre";
$neogroteskEssBold: "Neogrotesk";
